<body>
    
    <div class="container" >
      <button class="btn btn-primary" routerLink="add">Add New Product</button>
        <div class="row col-xs-3" >
                <div class="card" *ngFor="let dataItem of testData">
                    <img src="{{dataItem.image}}" width="80%" height="50%" alt="Product">
                    <div class="container">
                      <h4><b>{{dataItem.title}}</b></h4> 
                      <p>{{dataItem.category}}</p>
                      <p>R{{dataItem.price}}</p>
                      <p>{{dataItem.description}}</p> 
                    </div>
                    <button class="btn btn-danger" (click)="delete(dataItem._id)">Delete</button><br>
                    <button class="btn btn-warning" (click)="update(dataItem._id)">Update</button><br><br>
                  </div>
        </div>
      </div>
</body>
